asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.11
click-spinner==0.1.10
click8==8.0.1
colorama==0.4.4
commonmark==0.9.1
Django==4.0.2
idna==3.3
pindo-cli==0.2.1
Pygments==2.11.2
requests==2.27.1
rich==10.16.2
six
sqlparse==0.4.2
tomlkit==0.7.2
urllib3==1.26.8
