{% extends "app/base_generic.html" %}
{% load static %}
{% block title %}<title>For Developers</title>{% endblock %}
{% block content %}
    <div class="page-content">
        <h1>AfricanVoices for Developers</h1>
        To download the data and use our TTS systems, follow the instructions below.
        <h2 class="h2-primary"> Desktop OS</h2>
        Flite works on Linux, Windows and Mac OS X. Follow the steps below to install it.
        <ol>
            <li> Download and set up Festvox; Flite is one of the packages</li>
            <li> Download the voices of your choice or you can also download and use the voices on the fly.
                <br>
                Downloading on the fly
                <pre><code> ./bin/flite -voice http://festvox.org/flite/packed/flite-2.1/voices/cmu_us_aew.flitevox -f doc/alice</code></pre>
                Using a local flite voice
                <pre><code>./bin/flite -voice voices/cmu_us_ahw.flitevox -f doc/alice </code></pre>

                More usage instructions on desktop usage can be found on <a
                        href="https://github.com/festvox/flite#usage" target="_blank">Flite
                    GitHub page.</a>
            </li>
        </ol>

        {#    TODO: Update this#}
        <h2 class="h2-primary">Android Developers</h2>
        You can find the source code Flite TTS engine for Android on
        <a href="https://github.com/happyalu/Flite-TTS-Engine-for-Android" target="_blank">Github </a>
        If you are developing an application and would like to use Flite for speech synthesis, you can
        specify "edu.cmu.cs.speech.tts.flite" as the package name of the engine to use.
        <h2 class="h2-primary"> Curl/Python/Javascript</h2>
        You can use curl/Python/Javascript to download the datasets and synthesizers using the steps below:
        <ol>
            <li> Go to the resource you want to download on the website</li>
            <li> Copy the link address</li>
            <li> Use curl as below:
                <pre><code>  curl https://www.africanvoices.tech/static/app/datasets/ibb/ibb_lst.zip --output ibb_lst.zip </code></pre>
            </li>
            <li> To use Python, you can use requests/urlib/wget libraries.
                Look at details on how to use each of the <a>here</a> We provide a demo on using requests:
                <pre>
                    <code>
                        import requests
                        URL = "https://www.africanvoices.tech/static/app/datasets/ibb/ibb_lst.zip"
                        response = requests.get(URL)
                        open("ibb_lst.zip", "wb").write(response.content)
                    </code>
                </pre>
                The file will be stored in your working directory.
            </li>
        </ol>
        Use curl to generate voice by following the below steps:
        <ol>
            <li> Go to the page of the language you want to synthesize</li>
            <li> On the synthesis section, choose a synthesizer and copy the id of the synthesizer:
                                    <img src="{% static 'app/synth_id.png' %}" alt="check synth id" style="width: 150px;display: block; padding:10px">
            </li>
            <li>Collect the following that you will use to replace the variables below:
                 <pre><code>
                text: the text you want to synthesize
                url: the url of the language  eg https://www.africanvoices.tech/language/swa for Kiswahili
                audio_format: either mp3 or wav
                synth_id: id of the synthesize you obtained on the step above
                 </code></pre>

            </li>
            <li> Use curl as below replacing the variables:
                <pre><code> fname=$(curl -e -H  -X  POST -F 'synth_id=kis_wak_30' -F \
                    'text={TEXT}' -F 'audio_format={AUDIO_FORMAT}' {URL} \
                    | grep synth-audio \
                    | sed -e 's/.*src="\(.*\){AUDIO_FORMAT}.*/\1/')
curl https://www.africanvoices.tech"$fname"{AUDIO_FORMAT} --output out.{AUDIO_FORMAT}</code></pre>
            </li>
            Your file will be saved in out.{AUDIO_FORMAT}
        </ol>
    </div>
{% endblock %}
