{% extends "app/base_generic.html" %}
{% load static %}
{% block title %}<title>For Developers</title>{% endblock %}
{% block content %}
    <div class="page-content">
        <h1>AfricanVoices for Developers</h1>
        To download the data and use our TTS systems, follow the instructions below.
        <h2 class="h2-primary"> Desktop OS</h2>
        Flite works on Linux, Windows and Mac OS X. Follow the steps below to install it.
        <ol>
            <li> Download and set up Festvox; Flite is one of the packages</li>
            <li> Download the voices of your choice or you can also download and use the voices on the fly.
                <br>
                Downloading on the fly
                <pre><code> ./bin/flite -voice http://festvox.org/flite/packed/flite-2.1/voices/cmu_us_aew.flitevox -f doc/alice</code></pre>
                Using a local flite voice
                <pre><code>./bin/flite -voice voices/cmu_us_ahw.flitevox -f doc/alice </code></pre>

                More usage instructions on desktop usage can be found on <a
                        href="https://github.com/festvox/flite#usage" target="_blank">Flite
                    GitHub page.</a>
            </li>
        </ol>

        {#    TODO: Update this#}
        <h2 class="h2-primary">Android Developers</h2>
        You can find the source code Flite TTS engine for Android on
        <a href="https://github.com/happyalu/Flite-TTS-Engine-for-Android" target="_blank">Github </a>
        If you are developing an application and would like to use Flite for speech synthesis, you can
        specify "edu.cmu.cs.speech.tts.flite" as the package name of the engine to use.
        <h2 class="h2-primary"> Curl </h2>
        You can use curl to download the datasets and synthesizers using the steps below:
        <ol>
            <li> Go to the resource you want to download on the website</li>
            <li> Copy the link address</li>
            <li> Use curl as below:
                <pre><code>  curl https://www.africanvoices.tech/static/app/datasets/ibb/ibb_lst.zip --output ibb_lst.zip </code></pre>
            </li>
        </ol>
        Use curl to generate voice by following the below steps:
        <ol>
            <li> Go to the language synthesize</li>
            <li> On the synthesis section, choose a synthesizer</li>
            <li> Use curl as below:
                <pre><code> curl -e https://www.africanvoices.tech/languages  -H "X-CSRFToken: 123" -b "csrftoken=123" -X  POST -F 'synth_id=kis_wak_30' -F 'text=Karibu sana' -F 'audio_format=mp3' https://www.africanvoices.tech/language/swa </code></pre>
            </li>
        </ol>


    </div>
{% endblock %}