{% extends "app/base_generic.html" %}
{% load static %}
{% block title %}<title>Flite</title>{% endblock %}
{% block content %}
    <div class="page-content">
        <h1>Flite</h1>
        <p> You might want to use the voices on your mobile applications, browser, or desktop. With <a
                href="http://cmuflite.org/" target="_blank">Flite</a>, a
            TTS engine
            built at CMU, this is possible.</p>

        <h2 class="h2-primary"> Android </h2>
        <p> The first step is to install Flite TTS from Google Playstore</p>

        After installing this application, you will have to:
        <ul>
            <li>
                Enable Flite from "Text to Speech Settings" on your phone
            </li>
            <li>Install voice data</li>
            <li>Go to "Language" settings and select the voice that you want.</li>
            <li>By clicking on "Listen to a sample" you can verify that Flite is working.</li>
        </ul>
        <h2 class="h2-primary"> iOS</h2>
        We do not have an iOS version of flite yet. It is coming soon.
        <h2 class="h2-primary"> Desktop OS</h2>
        Flite works on Linux, Windows and Mac OS X. Follow the steps below to install it.
        <ol>
            <li> Download and set up Festvox; Flite is one of the packages</li>
            <li> Download the voices of your choice or you can also download and use the voices on the fly.
                <br>
                Downloading on the fly
                <pre><code> ./bin/flite -voice http://festvox.org/flite/packed/flite-2.1/voices/cmu_us_aew.flitevox -f doc/alice</code></pre>
                Using a local flite voice
                <pre><code>./bin/flite -voice voices/cmu_us_ahw.flitevox -f doc/alice </code></pre>

                More usage instructions on desktop usage can be found on <a
                        href="https://github.com/festvox/flite#usage" target="_blank">Flite
                    GitHub page.</a>
            </li>
        </ol>


        <h2 class="h2-primary"> Flite for developers</h2>
        {#    TODO: Update this#}
        <h3>Android developers</h3>
        You can find the source code Flite TTS engine for Android on
        <a href="https://github.com/happyalu/Flite-TTS-Engine-for-Android" target="_blank">Github </a>
        If you are developing an application and would like to use Flite for speech synthesis, you can
        specify "edu.cmu.cs.speech.tts.flite" as the package name of the engine to use.
        <p>

        </p>
    </div>
{% endblock %}