{% extends "app/base_generic.html" %}
{% load static %}
{% block title %}<title>Home</title>{% endblock %}

{% block content %}
<div class="content">


<div style="float: left; width:60%; padding: 15px;  ">
    <p id="home-exp">
        African Voices is a collaborative project that aims to collects high-quality speech (tts) datasets and
        synthesizers for all African languages.
    </p>
    <h3>Click to listen to the paragraph in Kenyan English</h3>
    <audio controls>
        {% comment %}
        <source src="horse.ogg" type="audio/ogg">
        {% endcomment %}
        <source src="{% static 'app/sample1.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div id="home-stats">

        <div class="col">
            <div class="row">
                <div id="num-langs" class="home-stats-item" style="color: #666666;">

                <span id="num-langs-count" style="font-size:48px;">
                    {{ num_langs}}
                </span><br>

                        languages

                </div>
                <div id="num-countries" class="home-stats-item" style="color:#FFAD00;">

                <span id="num-countries-count" style="font-size:48px;">
                    {{ num_countries }}
                </span><br>
                    countries
                </div>

            </div>

            <div class="row">
                <div id="num-speakers" class="home-stats-item" style="color: #0023A3">

                <span id="num-speakers-count" style="font-size:48px;">
                    {{ num_speakers}}
                </span><br>
                    speakers

                </div>
                <div id="num-hours" class="home-stats-item"  style="color:  #12DC0C;">

                <span id="num-hours-count" style="font-size:48px;">
                    {{ num_hours }}
                </span><br>
                    hours


                </div>

            </div>

        </div>


    <div id="num-synthesizers" class="home-stats-item">

                <span id="num-synthesizers-count" style="font-size:48px;">
                    {{ num_synthesizers }}
                </span><br>
        synthesizers


    </div>

</div>

</div>

<figure id="map-wrapper">
    <img src="{% static 'app/map.png' %}" id="home-map"/>
    <figcaption style="text-align: center">Geographical distribution of languages covered currently</figcaption>
</figure>



</div>

{% endblock %}

