html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 100vh;
}

#home-logotext {

    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    color: #BB0000;
    text-decoration: none;
}

#home-map {
    width: 300px;
    max-width: 100%;
    height: auto;
}

#map-wrapper {
    width: 100%
}

.home-exp {
    font-style: normal;
    font-weight: 350;
    font-size: 1.1em;
    line-height: 33px;
    color: #000000;
}

.row {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 0;

}


header {
    border-bottom: 0.2px solid rgba(136, 136, 136, 0.27);

}

.site-header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.nav > * {
    margin: 20px
}

.nav > a {
    text-decoration: none;
    color: #000000;
}

.nav > a:hover {
    color: #BB0000;
}

footer {
    background: #666666;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    /*flex-flow: row wrap;*/

    /*flex: 1;*/
    padding: 10px 35px;

}

.footer_link {
    color: white;
    text-decoration: none;
}


.footer-logo {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    min-width: 0;
    padding: 15px;
}


body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    min-height: 100%;
}

#home-stats {
    display: grid;
    grid-template-columns: 0.66fr 0.33fr;
    align-items: center;
    flex: 1;
    min-width: 0;
    padding: 15px;
    font-weight: 700;
    text-align: center;
}

#home-stats > .col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-stats-item {
    padding: 10px 5px;
    flex: 1;
    min-width: 0;
    font-size: 1.5em;
}

.home-stats-item span {
    font-size: 2.7em;
}

.home-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
}

.home-container > img {
    width: 400px;
}

@media only screen and (max-width: 970px) {
    .home-container {
        grid-template-columns: 1fr;
    }

    #home-stats {
        grid-template-columns: 1fr;
    }

    #languages {
        grid-template-columns: 1fr

    }
}

@media only screen and (min-width: 800px) and (max-width: 970px) {

    footer {
        grid-template-columns: 1fr 1fr
    }
}

@media only screen and (max-width: 800px) {
    footer {
        grid-template-columns: 1fr
    }
}

#searchUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    /*top: 7%;*/
    background-color: white;
    z-index: 50;
    box-shadow: 0px 2px 10px 2px rgba(136, 136, 136, 0.72);
    border-radius: 5px;
    width: 25%;

}

#searchUL li a {
    margin-top: -1px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    width: 100%;
}


#searchUL li a:hover:not(.header) {
    background-color: #FFAD00;
    color: white;
}

.h2-primary {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFAD00;
}

#wait_modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#wait_modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

.page-content {
    /*padding: 10px 40px;*/
    /*font-size: 18px;*/
}


#side-nav-div {
    margin-left: auto;
    margin-top: 1em;
}

.side-nav > ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.05);

}

.side-nav > ul > li > a {
    text-decoration: none;
    color: #000000;

}

.side-nav > ul > li {
    border-bottom: 1px solid #dee2e6;
    padding: 5px 0px
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
}


.main-content {
    margin-top: 2em;
}

pre {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    color: #000000;
}

#languages{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.synth-samples{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}